<h1> Información Personal:  </h1>
<h5>Nombre: <%= @usuario2.nombre %></h5>
<h5>Apellido: <%= @usuario2.apellido %></h5>
<h5>Direccion: <%= @usuario2.direccion %></h5>
<h5>Numero de Documento: <%= @usuario2.documento %></h5>