<h1>Información Personal:  </h1>
<h5>Nombre: <%= @usuario1.nombre %></h5>
<h5>Apellido: <%= @usuario1.apellido %></h5>
<h5>Direccion: <%= @usuario1.direccion %></h5>
<h5>Numero de Documento: <%= @usuario1.documento %></h5>