header {
    border: 1px solid none;
    height: 100px;
    background-color: #8C92AC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

nav {
    border: 1px solid none;
    height: 50px;
    background-color: #DBD7D2;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

section {
    border: 1px solid none;
    height: 500px;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #8C92AC;
}

aside {
    border: 1px solid none;
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    background-color: #d3d0d0   ;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

aside a {
    width: 100%;
    text-align: center;
}

.content {
    flex-grow: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

footer {
    border: 1px solid none;
    height: 100px;
    background-color: #847EA4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}